// === COLORS ===

$c-extradark: #30395C;
$c-dark: #3E529D;
$c-medium: #4B6FF1;
$c-light: #EFF1F7;
$c-extralight: #FAFBFF;
$c-special1: #9D3C3C;
$c-special2: #3C8C9D;

$nav-border-r: 4px;
$nav-white-border: 1px solid rgba(#fff, 0.65);
$nav-white-bg: rgba(#fff, 0.15);


// === FONT SIZE CLASSES ===

@mixin d-large-text {  // eg. used for default card content
    font-size: 24px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    @media (max-width: 480px) {
        font-size: 22px;
    }
}

@mixin d-small-text {  // eg. used for infobox text content
    font-size: 16px;
    letter-spacing: calc(0.02 * 16px);
    text-shadow: 0 1px 2px rgba(black, 0.25);
}

@mixin d-super-heading {
    font-size: 10vw;
    text-shadow: 0 0.45vw 0.9vw rgba(black, 0.25);

    // max-font-size: 70px;
    @media (min-width: 700px) { font-size: 70px; }
    @media (min-width: 700px) { text-shadow: 0 3px 6px rgba(black, 0.25); }

}

@mixin d-heading {
    font-size: 8vw;
    text-shadow: 0 0.3vw 0.6vw rgba(black, 0.25);
    line-height: 110%;

    // same font-size as d-super-heading for really small screens
    @media (max-width: 380px) {
        font-size: 10vw;
        // text-shadow:;
    }
    
    // max-font-size: 50px;
    @media (min-width: calc(50px / 0.08/*vw font-size*/)) {
        font-size: 50px;
        text-shadow: 0 2px 4px rgba(black, 0.25);
    }
}



// === TEXT STYLES ===

@mixin regular-normal {
    font-weight: 400;
    font-style: normal;
}

@mixin medium-italic {
    font-weight: 500;
    font-style: italic;
}

@mixin semi-bold-italic {
    font-weight: 600;
    font-style: italic;
}

@mixin bold-italic {
    font-weight: 700;
    font-style: italic;
}

@mixin bold {
    font-weight: 700;
    font-style: normal;
}


