// === COLORS ===

$c-extradark: #30395C;
$c-dark: #3E529D;
$c-light: #EFF1F7;
$c-extralight: #FAFBFF;
$c-special1: #9D3C3C;
$c-special2: #3C8C9D;

$nav-border-r: 4px;
$nav-white-border: 1px solid rgba(#fff, 0.65);
$nav-white-bg: rgba(#fff, 0.15);


// === FONT SIZE CLASSES ===

@mixin d-super-heading {
    font-size: 15vw;

    @media (min-width: 480px) {
        font-size: 70px;
    }
    @media (min-width: 960px) {
        font-size: 1.3 * 70px;
    }
}

@mixin d-heading {
    font-size: 6vw;
}



// === TEXT STYLES ===

@mixin semi-bold-italic {
    font-weight: 600;
    font-style: italic;
}

@mixin bold-italic {
    font-weight: 700;
    font-style: italic;
}




