# === HTTP > HTTPS REDIRECT ===

# 'rewrite_engine' docs:
# https://httpd.apache.org/docs/current/mod/mod_rewrite.html

# enable rewrite engine (off by default for performance reasons)
RewriteEngine on

# only apply rewrite to non-HTTPS requests to host 'terra-utopia.world'
RewriteCond "%{HTTPS}" "!=on"
RewriteCond "%{HTTP_HOST}" "=terra-utopia.world"

# the actual rewrite rule
RewriteRule "^" "https://%{HTTP_HOST}%{REQUEST_URI}" [R=307]



# === INDEX.HTML FALLBACK RESOURCE  ===

# 'mod_dir' 'FallbackResource' docs:
# https://httpd.apache.org/docs/trunk/mod/mod_dir.html#fallbackresource

# [CURRENLTY INACTIVE]
# FallbackResource /index.html
